.teal-color{
    color:#ee1111bc;
    margin: 5px;
  } 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&family=Source+Sans+Pro:ital,wght@0,600;1,600&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bungee+Spice&family=Chakra+Petch:wght@300&family=Dancing+Script&family=Lobster&family=Passions+Conflict&display=swap');

:root{
    --orange:#ffa500;
    --trans: all 0.3s linear;

}
*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border:none;
    text-decoration: none; 
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

    html::-webkit-scrollbar{
        width:1rem;
    }
    html::-webkit-scrollbar-track{
        background-color: rgba(0,0,0,0.5);
    }
    html::-webkit-scrollbar-thumb{
        background-color: rgba(19, 181, 140, 0.5);
    }

.header{
    position: absolute;
    top:0; left:0; right:0;
    z-index:1000;
    /* background: transparent; */
     background: rgba(106, 74, 74, 0.28);  
    /* background: #aca9a668; */
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: .5rem 4%;
    /* margin-left:60%; */
}    
.logo{
        margin:10px;
        font-size: 4rem;
        color:rgba(219, 242, 8, 0.969);
        text-decoration: none;
        text-transform: capitalize;
        /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  */
        font-family: 'Signika Negative', sans-serif;
        font-weight: bolder;
        
}
.navbar{
        top:0; left: 0; right: 0; 
        /* width: 100%; */
        margin: auto;
        padding: 10px 0; 
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left:25%;
}
.navbar ul li {
        list-style: none;
        display: inline-block;
        margin: 10px 10px;
        position:relative;
}
.navbar ul li a{
        text-decoration: none;
        text-transform: uppercase;
        color:aliceblue;
        font-size: 1.6rem;
        font-weight:normal;
        font-weight: 200px;
}
.navbar ul li::after{
        content:'';
        height: 3px;
        width: 0px;
        background: #cccf07ac;
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
} 
.navbar ul li:hover::after{
        width: 100%;
}
.d{
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    /* border-radius: 20px; */
    outline:none;
    cursor: pointer;
    border-radius: 25px;
    border-top-right-radius:0;
    border-top-left-radius:10;
} 
.icons a {
    font-size: 1rem;
    margin-left: 1rem;
    cursor: pointer;
    color:#fff;
    margin-right: 1rem;
}
.icons a :hover{
    color:var(--orange);
}
#menu-btn{
    font-size:2.52rem;
    color: #fff;
    cursor:pointer;
    padding:10px;
    display: none;
}
.homes{
    margin: 0 auto;
    /* margin-top: 9rem; */
    width:100%;
    height:100vh;
    background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2),rgba(0,0,0,0.5)),url(../Image/imagess.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
    }
    .content{
        width: 100%;
        position: absolute;
        top: 53%;
        transform: translateY(-50%);
        text-align: center;
        /* color:rgba(255, 255, 0, 0.841); */
        /* color:rgba(236, 236, 12, 0.942); */
        align-items: center;
        justify-content: center;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        /* font-weight: bold; */
}

.content h2{
        margin: 30px 10px ;
        font-size: 9rem;
        font-weight: 900px;
        /* text-shadow: 2px 1px 5px black;  */
        /* margin-top:60px; */
        text-align: center;
        text-transform:initial;
        /* color:rgba(236, 236, 12, 0.942); */
        /* font-family: 'Poppins', sans-serif; */
        font-family: 'Kaushan Script'; 
        color: transparent;
        -webkit-text-stroke:1px rgb(236, 161, 10);
        background: url(../Image/back.png);
        -webkit-background-clip: text;
        background-position: 0;
        animation: back 20s linear infinite;
}
@keyframes back{
100%{
    background-position: 2000px 0;
    }
}
.content h4{
        margin:15px 20px;
        font-weight: 100;
        line-height: 01.3px;
        font-size: 20.2px;
        text-shadow: 1px 1px 2px black;
        color:rgba(236, 236, 12, 0.942);
}
button{
        width:200px;
        padding: 15px 0;
        text-align: center;
        margin: 30px 10px;
        border-radius:25px;
        font-weight: bold;
        border: 2px solid #a10d6b;
        background: transparent;
        color: white;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        font-style: italic;

}
span{
        background:#9a1857;
        height: 100%;
        width: 0%;
        border-radius: 25px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        transition: 0.5s; 
        } 
button:hover span{
        width: 100%;
}
button:hover{
        border: none;
}
    section{
        padding: 3rem 9%;
    }
    body{
        overflow-x: hidden;
        background-color: black;
    }
    .bubbles img{
        width: 50px;
        animation: bubble 7s linear infinite;
    }
    .bubbles{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        bottom: -70px;
    }
    @keyframes bubble{
        0%{
            transform: translateY(0);
            opacity: 0;
        }
        50%{
            opacity: 1;
        }
        70%{
            opacity: 1;
        }
        100%{
            transform: translateY(-60vh);
            opacity: 0;
        }
    }
    .bubbles img:nth-child(1){
            animation-delay: 2s;
            width:20px;
    }
    .bubbles img:nth-child(2){
            animation-delay: 1s;
            width:18px;
    }
    .bubbles img:nth-child(3){
            animation-delay: 3s;
            width:20px;
    }
    .bubbles img:nth-child(4){
            animation-delay: 4s;
            width:23px;
    }
    .bubbles img:nth-child(5){
            animation-delay: 3s;
            width:17px;
    }
    .bubbles img:nth-child(6){
            animation-delay: 3s;
            width:27px;
    }
    .bubbles img:nth-child(7){
            animation-delay: 4s;
            width:22px;
    }
    .heading{
        text-align:center;
        margin-bottom: 2rem;
        }
    .heading h3{
        color:#1C6758;
        font-size: 2rem;
    }
    .heading h1{
        font-size:4rem;
        color:#fff;
    }
    
    .btn{
        display: inline-block;
        margin-top:1rem;
        background-color: var(--orange);
        color:#fff;
        /* padding:.3rem 3rem; */
        border:.4rem solid var(--orange);
        border-radius: 08px;
        cursor: pointer;
        font-size:1.5rem;
    }
    .btn:hover{
        background:(255 , 165,0 ,0.2);
        color:#ffa500;
    }
.box-inside{
    display:flex;
    flex-wrap:wrap;
    gap:3rem;
}
.inside{
    background:rgba(61, 185, 154, 0.317);
    border-radius: 18px;
    flex:1 1 30rem; 
    text-align:center;
    padding: .6rem;
    overflow:hidden;
    height: 20rem;
    position: relative;
    /* box-shadow: 0 1 rem 2 rem rgba(0,0,0,.1); */
    box-shadow: 10px 5px 5px whitesmoke;
}
.inside img{
    height:100%;
    width:100%;
    object-fit:cover;
    border-radius: 10px;
}
.inside .inside_content{
    position:absolute;
    top:-100%; left:0;
    height:100%;width:100%;
    text-align: center ;
    background:rgba(0,0,0,.7);
    padding:2rem;
    padding-top: 5rem;
}
.inside .inside_content h3{
    font-size:2.5rem;
    color:var(--orange);
}
.inside .inside_content p{
    font-size:1.5rem;
    color:#eee;
    padding:.5rem;
}
.inside:hover .inside_content{
    top:0;
}
.sp{
    position:relative;
    width:100%;
    height:auto;
    padding: 50px 100px;
    /* background-color:#333 ; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* border-radius: 20px; */
}

.sp .pp{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.sp .pp .sec{
    margin-right:30px;
}
.sp .pp .sec.aboutus{
    width:40%;
}
.sp .pp  h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.sp .pp  h2:before{
    content:'';
    position:absolute;
    bottom: -5px;
    left:0;
    width: 50px;
    height: 2px;
    background:#f00;
}
.sp p{
    color:#999;
    font-size:1.2rem;
}
.share{
    padding-top:1rem;
    display:grid;
    grid-template-columns: repeat(5, 50px);
    grid-gap:10px;
}
.share a{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4rem;
    font-size:1.7rem;
    border-radius: 50%;
    font-size:2rem;
    border: 2px solid #1C6758;
    /* color: */
    /* border-color: #f00; */
    color:#1C6758;
    margin-right:.5rem;
    text-align: center;
    /* display: inline-block; */
}
.share a:hover{
    background:#1C6758;
    color:black;
}
.fa{
    color:rgb(25, 131, 92);
    font-size:15px;
    padding:1rem;
}
.quicklinks{
    position:relative;
    width: 25%;
}
.quicklinks ul li{
    list-style: none;
}
.quicklinks ul li a{
    color:#999;
    text-decoration: none;
    margin-bottom: 10px;
    display:inline-block;
    font-size: 1.5rem;
    font-weight: 500;
    
}
.quicklinks ul li a:hover{
    color:#1C6758;
}
.sec{
    font-size: 2rem;;
}
p i{
    font-size: 2rem;
    color: #fff;
}
.credit{
    background-color: #333;
    text-align:center;
    font-size: 2rem;
    padding: 3rem 2rem;
    color:black;
}
.aboutus .logo{
    padding-bottom: 1rem;
    color:rgba(219, 242, 8, 0.969);
    font-size: 2rem;
}
.aboutus i{
    font-size:3rem;
}

.aboutus a.logo{
    margin:04px;  
}
.heading{
    text-align:center;
    margin-bottom: 2rem;
    }
.heading h3{
    color:#1C6758;
    font-size: 2rem;
}
.heading h1{
    font-size:4rem;
    color:#fff;
}



@media (max-width:1200px){

    html{
        font-size: 55%;
    }
    section{
        padding: 1rem 1%;
    }
    body{
        width: 100%;
    }
    
}

@media (max-width:991px){

    .header{
        padding: 07px;
        /* background-color: rgba(86, 165, 172, 0.685); */
         background-color: #eb455e84; 
        /* background-color: rgba(18, 48, 66, 0.577); */
        position:absolute;
    }
    footer{
        padding: 40px;
    }
    footer .pp{
        flex-direction: column;
    }
    footer .pp .sec{
        margin-right: 0;
        margin-bottom:40px;

    }
    footer .pp .sec.aboutus,
    .quicklinks{
        width:100%
    }
    .credit{
        width:100%;
        background-color: #181818;
        padding: 8px 40px;
        /* text-align: center; */
        /* color:#999; */
    }
}
@media (max-width:768px){

    #menu-btn{
        display:block;
        color: #333;
        /* border:10px; */
        /* border-color: #ffa500; */
    }
    .logo{
        font-size:4rem;
        color: #333;
        align-items: center;
        justify-content: center;
    }
    #search-btn{
        font-size:15px;
        color: #333;
        margin-top: 15px;
    }
    .search-bar-container{
        background-color:rgba(0,0,0,0.3);
        margin-top:01%;
        
    }
    .d{
        font-size:15px;
        padding:3px 5px;
        /* background-color: #b56b76cd; */
        border-color: #333;
    }
    .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        background: #333;
        border-top: .1rem solid rgba(255,255,255,.2);
        padding:15rem 15rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); 
        flex-direction:column;
        width:100%;
        height:85vh;
        /* border-radius: 40px; */
    }
    a{
        margin:01px;
        font-size: 1rem;
        display: block;
        border-radius: .5rem;
        padding: 0.3rem;
        /* margin:1.5rem 0; */

    }
    .active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); 
    }
    .home{
        margin-top: 10rem;
    }
    
    span{
            font-size: 40px;
    
        }
    h2{
            font-size:6px;
        }
    h4{
            max-width:60rem;
            /* margin:1rem auto; */
            font-size:1.4rem;
            line-height: 2;
        }
    button{
        width:120px;
    }
    .flex{
        /* font-size:40px; */
        margin-block:5px;
        align-items: stretch;
        /* flex-direction: column; */
    }
    
}
@media (max-width:450px){

    html{
        font-size: 50%;
    }
}